@import "~bootstrap/scss/bootstrap";

body {
    background-image: url('../images/paper_background.png');
    font-family: 'Satisfy', cursive;
}

.cws_textmodule_banner {
    color: #eae5de;
    background-color: #e53e26;
    position: relative;
    line-height: initial;
    display: inline-block;
    padding: 0 60px;
    background-image: url(../images/green-dust-and-scratches.png);
    background-position: center 65%;
    font-size: 30px;
}
