{% extends 'base.html.twig' %}

{% block body %}
    <div class="row justify-content-md-center d-flex align-items-center">
        <div class="col-md-auto">
            <div class="cws_textmodule_banner center">
            <svg class="left-shape" width="78" height="52">
                <defs>
                    <pattern id="banner_left_shape_622f0bb5dcacf" patternUnits="objectBoundingBox" width="100%" height="100%">
                        <rect class="rect-pattern" x="0" y="0" width="100%" height="100%" stroke-width="0"></rect>
                        <image href="http://vintwood.cwsthemes.com/wp-content/themes/vintwood/img/patterns/shape_pattern.png" x="0" y="0" width="100%" height="100%"></image>
                        <rect x="0" y="0" width="100%" height="100%" stroke-width="0" fill="rgba(0,0,0,.15)"></rect>
                    </pattern>
                </defs>

                <path id="banner_left_shape_622f0bb5dcacf_path" d="M0.7,0.2l12,25.9L0.7,51.5l76.9,0.1l0.1-51.2C77.6,0.4,0.7,0.2,0.7,0.2z" fill="url(#banner_left_shape_622f0bb5dcacf)"></path>
            </svg>
            {{ tip }}
            <svg class="right-shape" width="78" height="52">
                <defs>
                    <pattern id="banner_right_shape_622f0bb5dcad0" patternUnits="userSpaceOnUse" width="100%" height="100%">
                        <rect class="rect-pattern" x="0" y="0" width="100%" height="100%" stroke-width="0"></rect>
                        <image href="http://vintwood.cwsthemes.com/wp-content/themes/vintwood/img/patterns/shape_pattern.png" x="0" y="0" width="100%" height="100%"></image>
                        <rect x="0" y="0" width="100%" height="100%" stroke-width="0" fill="rgba(0,0,0,.15)"></rect>
                    </pattern>
                </defs>

                <path id="banner_right_shape_622f0bb5dcad0_path" d="M0,0.4L0,51.6l76.9-0.1L64.9,26.1l12-25.9C76.8,0.2,0,0.4,0,0.4z" fill="url(#banner_right_shape_622f0bb5dcad0)"></path>
            </svg>
        </div>
        </div>
    </div>
{% endblock %}
